<button class="btn btn-success" onclick="jQueryGetCallGreetSync()">jQueryCallGreet(GET同步)</button>
<button class="btn btn-success" onclick="jQueryGetCallGreetAsync()">jQueryCallGreet(GET非同步)</button>
<button class="btn btn-success" onclick="jQueryPostCallGreetAsync()">jQueryPostCallGreetAsync(POST非同步)</button>
<img id="progress" src="~/images/hourglass.gif" style="display:none" asp-append-version="true" />
<div id="result"></div>

@section Scripts
{
    <script>
        function jQueryGetCallGreetSync(){
            var p = encodeURI("Name=陳小明");
            $("#progress").show();
            $.ajax({
                type:"GET",
                async:false,
                url:"https://localhost:7134/Ajax/Greet?" + p,
                timeout:5000
            }).done(function(data){
                $("#result").text(data);
                $("#progress").hide();
            }).fail(function(err){
                alert(err.statusText);
            });            
        }
        function jQueryGetCallGreetAsync() {
            var p = encodeURI("Name=吳小明");
            $("#progress").show();
            $.ajax({
                type: "GET",
                url: "https://localhost:7134/Ajax/Greet?" + p,
            }).done(function (data) {
                $("#result").text(data);
                $("#progress").hide();
            }).fail(function (err) {
                alert(err.statusText);
            });
        }
        function jQueryPostCallGreetAsync() {
            $("#progress").show();
            $.ajax({
                type: "POST",
                data:{
                    Name:"柯小明"
                },
                url: "https://localhost:7134/Ajax/Greet",
            }).done(function (data) {
                $("#result").text(data);
                $("#progress").hide();
            }).fail(function (err) {
                alert(err.statusText);
            });
        }
    </script>
}
